* {
  box-sizing: border-box;
  margin: 0;
  color: #FFF;
}

$base-color: #0C0F14;
$accent-color: #D98046;
$glow-base: rgba(217, 128, 70, 0.25);

body {
  background-color: $base-color;
}

#glow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */

  #glow-effect {
    margin-left: -40%;
    z-index: -1;
    background-color: $glow-base;
    border-radius: 500px;
    top: 30%;
    filter: blur(128px);
    pointer-events: none;
    position: fixed;
    min-width: 351px;
    min-height: 351px;
    flex-grow: 0.2;


  }
}